html,
body,
#root {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $light;
}

main {
	padding: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

header,
footer {
	flex-shrink: 0;
	border-radius: 0px;
}

header {
	background-color: lighten($danger, 10%);
}

footer {
	background-color: darken($yellow, 10%);
}

.logo {
	width: 30px;
	margin: 0 0.5rem;
}

.pokemonCard {
	width: 180px;
	height: 250px;
	display: flex;
	margin: 0.65rem 0.5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	transition: transform ease 200ms;
	text-transform: capitalize;
	background-color: $red;
	color: $yellow;
	&:hover {
		transform: scale(1.2);
		background-color: $purple;
		color: $white;
		transition: transform ease 400ms;
	}
	.poke_card-img {
		width: auto;
		height: 150px;
		margin: auto;
		display: block;
		object-fit: cover;
	}
}

.pokeCard {
	.cardImageContainer {
		max-width: 500px;
		min-height: 500px;
		display: grid;
		place-items: center;
		background-color: $red;
		border-radius: 0.5rem;
		border: 0.5rem solid $yellow;
		color: $yellow;
	}
	.cardImage {
		display: block;
		margin: auto;
		height: auto;
		width: 100%;
		max-width: 400px;
	}
	.card-text {
		display: inline-block;
		padding: 0 0.5rem;
		font-size: 1.2rem;
		ul {
			list-style: circle;
			padding: 0;
			li {
				display: block;
			}
		}
	}
	.card-title {
		display: inline-block;
		width: 8rem;
	}
	.icon {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin: 0 0.25rem;
	}
}

.spinner-lg {
	width: 8rem;
	height: 8rem;
	border-width: 1rem;
}

.pagination {
	.page-item {
		.page-link {
			background-color: $danger;
			color: $yellow;
		}
		&.active .page-link {
			background-color: $purple;
			border: 1px solid $purple;
			color: $white;
		}
	}
}
