.poke_List{
    width :100%;
    height :auto;
    display : flex;
    flex-direction: row;
    justify-content : start;
    align-items : baseline;
    flex-wrap: wrap;
}
.poke_detail{
    display : flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
    
}
.poke_detail p {
    margin:0px;
      }

.poke_detail img {
      width:80%;
      }
.poke_image{
    width: 350px;
    height: 300px;
    padding-left:10%;
    padding-right:5%;
}
.poke_card-img1{
    width :300px;
    height :250px;
    object-fit : cover;
    box-shadow : 0 .5rem 1rem rgba(223, 14, 14, 0.15);
    transition : transform ease 200ms;
    border-radius: 10px;
    
}
.det{

    display : flex;
    flex-direction: row;
    justify-content : right;
    align-items : right; 
    padding-left:10px;
    float: left;
    width:44%;
}
.modify{
    border-radius: 4px ;  
    text-transform: capitalize;
    list-style-type: square;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 400px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.modify1{
    padding-bottom: 0px;
    padding-top: 10px;
}


.poke_card-img1:hover{
    transform : scale(1.2);
    color: rgb(202, 96, 82);
    transition : transform ease 200ms;
}

.modify:hover{
   opacity: 0.8;
   color: white;
   background-color: rgb(22, 168, 22);
}

.pokedex{
    text-align : center;
    text-decoration : underline;
     font-family: Times New Roman; 
    color: purple;
}
